@import "../../../../colors.css";
.table-part {
  border-collapse: collapse;
}

.table-part__row {
  height: fit-content;
}

.table-part__cell {
  border: 1px solid var(--base01);
  white-space: pre;
  vertical-align: top;
  min-width: 50px;
  min-height: 20px;
  overflow-x: scroll;
  font-size: 16px;
  line-height: 1.2;
}

.table-part__cell--selected {
  background-color: var(--green-soft);
}
