@import "../../../../colors.css";
.table-part {
  border-collapse: collapse;
  min-height: 100%;
}

.table-part__row {
  height: 100%;
  overflow-x: scroll;
}

.table-part__cell {
  border: 1px solid var(--base01);
  white-space: pre;
  vertical-align: top;
  min-width: 25%;
  font-size: 16px;
  line-height: 1.2;
  overflow-x: scroll;
}

.table-part__cell--selected {
  background-color: var(--green-soft);
}
