@import "../../../../../colors.css";

.table-cell__edit-container {
  display: grid;
  width: auto;
  font-size: 16px;
}

.table-cell__insert-timestamp-button {
  display: flex;
  flex-direction: row;
  color: var(--base0);
  font-family: Courier;
  justify-content: space-between;
  align-items: flex-start;
  height: 0%;
}
